@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-instrument-serif: 'Instrument Serif', serif;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
